body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  button{
    margin: 20px 0 10px 0;
  }

  .loading {
    background-image: url("../img/Loading_icon.gif");
    background-position: center center; 
    background-repeat: no-repeat;

    .container{
      visibility: hidden;
    }
  }
}
